header {
    background-color: antiquewhite;
}

nav {
    background-color: bisque;
}

section {
    background-color: burlywood;
}

footer {
    background-color: slategray;
    clear:both;
    text-align: center;
}

aside {
    background-color: cadetblue;
}

details {
    background-color: tomato;
}

summary {
    background-color: rgb(185, 187, 51);
}

#Donek {
    max-width: 500px;
    max-height: 500px;
    float: left;
}

#welcome {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

#about {
    float: right;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

article h1,article h2, article h3, article h4, article h5, article h6 {
    text-transform: capitalize;
}

body {
    margin: auto;
    width: 1000px;
    background-image: url(/home/student/htmltests/lion.jpg);
    background-size: 200px;
}

nav {
    margin-bottom: 10px;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    
}

nav ul li a:hover {
    background-color: grey;
    text-decoration: overline unset;
}

table.CVTable, table.CVTable tr, table.CVTable td, table.CVTable th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    background-color: beige;
}

table.CVTable td, table.CVTable th {
    padding: 15px;
}

table.CVTable {
    margin: 15px;
}

table.CVTable th, table.CVTable caption {
    text-transform: capitalize;
}

table.workTable, table.workTable tr, table.workTable td, table.workTable th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    background-color: beige;
}

table.workTable td, table.workTable th {
    padding: 15px;
}

table.workTable {
    margin: 15px;
}

table.workTable th, table.workTable caption {
    text-transform: capitalize;
}

table.educationTable, table.educationTable tr, table.educationTable td, table.educationTable th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    background-color: beige;
}

table.educationTable td, table.educationTable th {
    padding: 15px;
}

table.educationTable {
    margin: 15px;
}

table.educationTable th, table.educationTable caption {
    text-transform: capitalize;
}

form input, form select {
    background-color: grey;
    border: 1px solid;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: black;
}

form fieldset {
    margin: 10px;
}

.label {
    float: left;
}

.cookiesDialog {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    color: lightgray;
    padding: 10px;
}

.cookiesDialog p {
    margin: 0px;
}